<!doctype html>
<html>
<head>
	<title>To Do</title>
	<link rel="stylesheet" type="text/css" href="app/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-xeditable/dist/css/xeditable.css">
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script type="text/javascript" src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script type="text/javascript" src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
	<script type="text/javascript" src="app/js/app.js"></script>
	<script type="text/javascript" src="app/js/controllers.js"></script>
	<script type="text/javascript" src="app/js/services.js"></script>
	<script type="text/javascript" src="app/js/factories.js"></script>
	<script type="text/javascript" src="app/js/directives.js"></script>
	<script type="text/javascript" src="app/js/states.js"></script>
</head>
<body data-ng-app="ToDoApp">
	<nav data-ng-controller="NavbarController" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a data-ng-if="!globals.isAuthenticated" class="navbar-brand" data-ui-sref="home page">
      	ToDo
      </a>
      <a data-ng-if="globals.isAuthenticated" class="navbar-brand" data-ui-sref="todo page">
      	{{globals.authenticatedUser.username}}
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
      	<li data-ng-if="globals.isAuthenticated">
      		<a href="#" data-ng-click="signOut()">Sign Out</a>
      	</li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
	<div class="row" data-ui-view>
			
	</div>
</div>	
</body>
</html>