<!doctype html>
<html>
<head>
	<title>To Do</title>
  <!-- build:css css/todo-app.css -->
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/angular-loading-bar/build/loading-bar.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/angular-xeditable/dist/css/xeditable.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.css"/>
  <!-- endbuild -->

  <!-- build:js js/todo-app.js -->
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script type="text/javascript" src="/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script type="text/javascript" src="/bower_components/angular-translate/angular-translate.js"></script>
   <script type="text/javascript" src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script> 
  <script type="text/javascript" src="/bower_components/angular-loading-bar/build/loading-bar.js"></script>
  <script type="text/javascript" src="/bower_components/angular-xeditable/dist/js/xeditable.js"></script>
  <script type="text/javascript" src="/public/javascripts/app.js"></script>
  <script type="text/javascript" src="/public/javascripts/controllers.js"></script>
  <script type="text/javascript" src="/public/javascripts/services.js"></script>
  <script type="text/javascript" src="/public/javascripts/factories.js"></script>
  <script type="text/javascript" src="/public/javascripts/directives.js"></script>
  <script type="text/javascript" src="/public/javascripts/states.js"></script>
  <!-- endbuild -->
	
	
</head>
<body data-ng-app="ToDoApp">
	<nav data-ng-controller="NavbarController" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a data-ng-if="!globals.isAuthenticated" class="navbar-brand" data-ui-sref="home page">
      	{{"app.name" | translate}}
      </a>
      <a data-ng-if="globals.isAuthenticated" class="navbar-brand" data-ui-sref="todo page">
      	{{globals.authenticatedUser.username}}
      </a>
    </div>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <div class="input-group">
          <input type="text" data-ng-model="command" data-to-do-enter="run()" class="form-control" placeholder="{{'app.nlCommandPlaceHolder' | translate}}"/>
          <span class="input-group-addon" data-ng-click="microphone()">
            <i class="fa fa-microphone">
            </i>
          </span>
        </div>
      </div>
    </form>             
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">{{'app.language' | translate}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" data-ng-click="changeLanguage('en')">{{'app.language.english' | translate}}</a></li>
            <li><a href="#" data-ng-click="changeLanguage('hi')">{{'app.language.hindi' | translate}}</a></li>
          </ul>
        </li>
      	<li data-ng-if="globals.isAuthenticated">
      		<a href="#" data-ng-click="signOut()">{{'home.signOut' | translate}}</a>
      	</li>
        <li><a data-ui-sref="about page">{{'home.about' | translate}}</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
	<div class="row" data-ui-view>
			
	</div>
</body>
</html>