<!doctype html>
<html>
<head>
	<title>Clock</title>
  <!-- 
  http://blog.xebia.com/2014/02/23/promises-and-design-patterns-in-angularjs/#top
-->
  <!-- build:css css/todo-app.css -->
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/bootstrap.css">
  <!-- endbuild -->	
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
      <data-my-app-clock>
      </data-my-app-clock>
		</div>
	</div>
</div>
<!-- build:js js/todo-app.js -->
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
  <!-- endbuild -->

  <script type="text/javascript">
  	window.onload = function() {
  		var MyApp = angular.module("MyApp", [/* has no dependecies*/]);
      angular.module("MyApp").directive("myAppClock", ["$interval", 
        function($interval) {
        return {
          restrict : "E",
          template : '<form> <div class="form-group"> <input type="text" data-ng-model="format"> <span class="help-block">{{time | date : format}}</span> </div> </form>',
          scope : {
          },
          link : function(scope, element, attrs) {
            scope.format = "medium";
            scope.time = new Date();
            var intervalId = $interval(function() {
              scope.time = new Date();
            }, 1000);

            element.on("$destroy", function() {
               $interval.cancel(intervalId);
            });

          }
        }
      }]);

  		angular.bootstrap(document, ["MyApp"]);
  	}
  </script>
</body>
</html>